extends layout

block content
    .container
        h4
            i Activity Name:
        p= activity_item.name
        h4
            i Activity Author:
        p= activity_item.author
        h4
            i Start Date:
        p= activity_item.start_date
        h4
            i End Date:
        p= activity_item.end_date
        h4
            i Latitude:
        p= activity_item.latitude
        h4
            i Longitude:
        p= activity_item.longitude