extends layout

block content

    <div class="margin-for-carousel"> 

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
            <div class="item active width-for-carousel">
                <img class="image-in-carousel" src="https://images.pexels.com/photos/1438404/pexels-photo-1438404.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Profile photo" style="width:100%;">
            </div>

            <div class="item width-for-carousel">
                <img class="image-in-carousel" src="https://images.pexels.com/photos/3039036/pexels-photo-3039036.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Profile photo" style="width:100%;">
            </div>
            
            <div class="item width-for-carousel">
                <img class="image-in-carousel" src="https://images.pexels.com/photos/1141835/pexels-photo-1141835.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Profile photo" style="width:100%;">
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="container margine-for-profile margin-for-image-profile">
        img(class='profile_image opacity-for-image-profile' src="https://i.ibb.co/dQXbPqz/1786-oooo-plus.png", alt="")

        .container(class='margine-for-profile')
            div(class="div-float-right")
                a(class='custom-link' href='/users/'+user.id+'/edit') Profile
            if user
                div(style="float:left; width:45%")
                    div(class='div-profile-info')
                        label Name:
                        p= user.name

                    div(class='div-profile-info')
                        label Email:
                        p= user.email

                    div(class='div-profile-info')
                        label Username:
                        p= user.username
        .container
            h2(class="user-news") User News
            each news, i in news_list
                li.list-group-item
                    a(class="link-like-p" href="/news/" + news._id)= news.title
                    div(class='news_container')
                        p(class='news_body')= news.body
                        if news.image_url
                            img(src= news.image_url class='news_image')
                        else
                            img(src='https://magazineclonerepub.blob.core.windows.net/mcepub/2535/175821/image/6773d272-71de-4e36-a4c4-c8590231b677.jpg' class='news_image')

    </div>

    
    